<h2 class="h2 mb24">Статистика</h2>
<div class="filters-section mb32">
  <app-date-filter-component (dateRangeChange)="onDateRangeChange($event)"></app-date-filter-component>

  <!-- Календарь для произвольной даты -->
  <!-- @if (showCustomPicker) {
  <div class="custom-date-picker">
    <div class="date-inputs">
      <label>
        С:
        <input type="date" [value]="customStartDate | date:'yyyy-MM-dd'" 
               (change)="onCustomDateChange($event, 'start')">
      </label>
      <label>
        По:
        <input type="date" [value]="customEndDate | date:'yyyy-MM-dd'"
               (change)="onCustomDateChange($event, 'end')">
      </label>
      <button (click)="applyCustomDate()" class="apply-btn">Применить</button>
    </div>
  </div>
  } -->
</div>

<div class="mb60">
    <div class="stats__wrapper">
        @for (stat of todayStats$ | async; track stat.activityName) {
        <div class="stats__card">
            <div class="stats__name">{{ stat.activityName }}</div>
            <div class="stats__duration">{{ stat.duration }}</div>
            <div class="stats__bar">
                <div class="stats__progress" [style.width.%]="getPercentageForDays(stat.durationMs)"></div>
            </div>
            <div class="stats__percentage">{{ getPercentageForDays(stat.durationMs) }}%</div>
        </div>
        }
    </div>

</div>
<h3 class="h3 mb20">Детализация</h3>
@if (statisticSlots$ | async; as statisticSlots) {
    <app-activities-table-component [statisticSlots]="statisticSlots" [showDates]="showDates()"></app-activities-table-component>
}