<div class="search-select">
  <input type="text" [(ngModel)]="searchTerm" (input)="onInputChange()" (focus)="onFocus()" (blur)="onBlur()" [placeholder]="placeholder"
    class="input" [class.error]="hasError"/>
  @if (searchTerm) {
    <button class="cross-button search-select__cleare" (click)="clearOption()"></button>
  }

  @if (isOpen && options.length > 0) {
  <div class="dropdown">
    @for (option of options; track option.id) {
    <div class="dropdown-option" (click)="selectOption(option)">
      {{ option.name }}
    </div>
    }
  </div>
  }
</div>